BasedOnStyle: Google
ColumnLimit: 120
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BinPackParameters: false
BinPackArguments: false
BreakBeforeBraces: Attach
